table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

th, td {
    border: 1px solid #bbb;
    border-left: 0;
    border-right: 0;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(6){
    width: 15%;
}

td:nth-child(3)
{
    width: 17%;
}

td:nth-child(4),
td:nth-child(5){
    width: 19%;
}

td{
    padding: 5px;
}

.buttons > div {
    margin-left: 10px;
}

.buttons > div:last-child {
    margin-left: 100px;
}

#scroll::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
